numpy
pandas
Flask
Flask-Login==0.6.2
scikit-learn
https://download.pytorch.org/whl/cpu/torch-1.7.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.8.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
requests
Pillow
gunicorn == 20.0.4
africastalking == 1.2.5
langdetect == 1.0.9
pydub == 0.25.1
google-api-core==2.11.0
google-auth==2.17.2
google-cloud-core==2.3.2
google-cloud-speech==2.19.0
google-cloud-texttospeech==2.14.1
google-cloud-translate==3.11.1
googleapis-common-protos==1.59.0
googletrans==4.0.0rc1